<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121935030966-4s085r2od01rer05f9nb303r5r1m4bp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121935030966-4s085r2od01rer05f9nb303r5r1m4bp9</string>
	<key>API_KEY</key>
	<string>AIzaSyB8k2pyCaI8Btaz-dA4oFaHZheDqutpmZE</string>
	<key>GCM_SENDER_ID</key>
	<string>121935030966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjdvans.jjddriver</string>
	<key>PROJECT_ID</key>
	<string>jjd-van-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>jjd-van-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121935030966:ios:6967122a0c2134d1ccd417</string>
	<key>DATABASE_URL</key>
	<string>https://jjd-van-driver-default-rtdb.firebaseio.com</string>
</dict>
</plist>